<%- include('../parts/head', {title:'Pizzaria Fantastica', css: 'rel=stylesheet type=text/css href=/css/pizzaStyles.css'}); %>
<h1>Que pena a pizza não foi encontrada :(</h1>

<%- include('../parts/footer'); %>